<template>
  <div>
    <HeaderMain :form="form" :test="test" :about="about"/>
    <WorkingHome/>
    <div class="about" ref="about">
      <About/>
    </div>
    <div class="form-test" ref="test">
      <test-form/>
    </div>
    <our-advantages/>
    <create-schedule/>
    <div class="form-footer" ref="form">
      <footer-form />
    </div>
    <footer-main/>
  </div>
</template>

<script>

import HeaderMain from '@/components/header'
import WorkingHome from '@/components/workingHome'
import About from '@/components/about'
import TestForm from '@/components/testForm'
import OurAdvantages from '@/components/ourAdvantages'
import CreateSchedule from '@/components/createSchedule'
import FooterForm from '../components/footerForm'
import FooterMain from '../components/footerMain'
export default {
  name: 'Home',
  data: () => ({
    form: '',
    test: '',
    about: ''
  }),
  components: { FooterMain, FooterForm, CreateSchedule, OurAdvantages, TestForm, About, WorkingHome, HeaderMain },
  mounted () {
    this.$nextTick(() => {
      this.form = this.$refs.form
    })
    this.$nextTick(() => {
      this.test = this.$refs.test
    })
    this.$nextTick(() => {
      this.about = this.$refs.about
    })
  }
}
</script>
<style>
.v-application p {
  margin: 0;
}
</style>
