<template>
  <div class="about">
   <div class="about-wrapper">
     <h3>О компании</h3>
     <div class="about-info">
         <img class="about-left-top" src="@/assets/img/top-left-about.svg"/>
         <img class="about-left-bottom" src="@/assets/img/bottom-right-about.svg"/>
       <div class="about-left">
         <img src="@/assets/img/about-img.jpg"/>
       </div>
       <div class="about-right">
         <p>Мы являемся официальными партнерами большой социальной сети, у которой уже более 6-ти миллионов пользователей по всему миру!</p>
         <p>Работа заключается в использовании нашего приложения
           и общении с пользователями через видео-чат. Вам будет предоставлен куратор и бесплатное обучение.</p>
         <p>Мы предоставляем гибкий график работы и еженедельные выплаты на банковскую карту любого банка от 30$! Это новая программа, которая позволяет каждому зарабатывать без рисков и вложений.</p>
       </div>
     </div>
   </div>
  </div>
</template>

<script>
export default {
  name: 'about'
}
</script>

<style scoped>

.v-application p {
  margin: 0;
}
.about {
  margin-top: 115px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 35px 0 60px 0;
}
.about-wrapper {
  padding: 0 10px;
  max-width: 1127px;
  min-width: 900px;
  margin: 0 auto;
}
.about-wrapper > h3 {
  text-align: center;
  margin-bottom: 38px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #253030;
}
.about-info {
  display: flex;
  align-items: center;
  position: relative;
}
.about-left {
  width: 540px;
  height: 300px;
  margin-right: 20px;
  position: relative;
  z-index: 2;
}
.about-left > img {
  width: inherit;
  height: inherit;
}
.about-left-top {
  position: absolute;
  top: -52px;
  left: -61px;
  width: 157px !important;
  height: 157px !important;
  z-index: 1;
}
.about-left-bottom {
  position: absolute;
  bottom: -25px;
  width: 106px !important;
  height: 106px !important;
  z-index: 1;
  left: 396px;
}
.about-right {
  width: 540px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-right > p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  color: #253030;
}
@media screen and (max-width: 1200px) {
  .about {
    margin-top: 36px;
    padding: 35px 0 60px 0 ;
  }
  .about-wrapper {
    padding: 0 10px;
    max-width: 920px;
    min-width: 920px;
    margin: 0 auto;
  }
  .about-left[data-v-277a612d] {
    width: 440px;
    height: 295px;
    margin-right: 20px;
    position: relative;
    z-index: 2;
  }
  .about-left-bottom[data-v-277a612d] {
    position: absolute;
    bottom: -25px;
    width: 106px !important;
    height: 106px !important;
    z-index: 1;
    left: 301px;
  }
  .about-right > p[data-v-277a612d] {
    font-size: 17px;
  }
}
@media screen and (max-width: 992px) {
  .about-left[data-v-277a612d] {
    width: 350px;
    height: 257px;
    margin-right: 20px;
    position: relative;
    z-index: 2;
  }
  .about-right {
    width: 340px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-right > p[data-v-277a612d] {
    font-size: 14px;
  }
  .about-wrapper {
    padding: 0 10px;
    max-width: 720px;
    min-width: 720px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  .about-left[data-v-277a612d] {
    display: none;
  }
  .about-right {
    width: 100%;
    height: auto;
  }

  .about-right > p {
    margin-bottom: 10px;
  }
  .about-left-top {
    display: none;
  }
  .about-left-bottom {
    display: none;
  }
  .about-wrapper {
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    height: auto;
  }
}
@media screen and (max-width: 540px) {
  .about-right {
    width: 100%;
    height: auto;
  }
  .about-right > p {
    margin-bottom: 10px;
  }
}
    /*@media (max-width: 1200px)*/
    /*@media (max-width: 992px)*/
    /*@media (max-width: 750px)*/
    /*@media (max-width: 576px)*/

</style>
