<template>
  <section class="schedule">
    <div class="schedule-wrapper">
      <div class="schedule-right">
        <img class="girl-bottom-left" alt="телка" src="@/assets/img/girlBottomLeft.svg">
        <img class="schedule-girl" alt="телка" src="@/assets/img/girl.png">
        <img class="girl-right-center-icon" alt="телка" src="@/assets/img/girlRightCenterIcon.svg">
      </div>
      <div class="schedule-left">
        <h3>Создайте свой график работы</h3>
        <p>Работайте в удобное для Вас время! Построение индивидуального графика!</p>
        <br>
        <p> За годы опыта мы создали себе условия, которые много лет
          нам не могли предложить другие. Именно гибкость и свобода выбора графика работы стали нашим самым эффективным инструментом для достижения любой цели, источником стабильно растущего дохода и стремительно растущей надежной команды!</p>
        <template-form :type="'createSchedule'"/>
      </div>
    </div>
  </section>
</template>

<script>

import TemplateForm from './templateForm'
export default {
  name: 'createSchedule',
  components: { TemplateForm }
}
</script>

<style scoped>
.schedule {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 70px;
}
.schedule-left > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: left;
  color: #253030;
  margin-bottom: 40px;
}
.schedule-left > p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 155%;
  color: #253030;
}
.schedule-left > button {
  margin-top: 40px;
  background: #363DF0;
  box-shadow: 0 0 15px rgba(54, 61, 240, 0.2);
  border-radius: 20px;
  padding: 9px 17px;
  color: white;
}
.schedule-wrapper {
  padding: 0 10px;
  max-width: 1127px;
  min-width: 900px;
  margin: -7px auto;
  display: flex;
  justify-content: space-between;
}
.schedule-right {
  position: relative;
}
.schedule-girl {
  position: relative;
  z-index: 2;
}
.girl-bottom-left {
  position: absolute;
  bottom: 7px;
  z-index: 1;

}
.girl-right-center-icon {
  position: absolute;
  top: 25%;
  right: 14%;
}
</style>
