<template>
  <section class="footer">
    <p>2021 - Golden Goddess</p>
  </section>
</template>

<script>
export default {
  name: 'footerMain'
}
</script>

<style scoped>
  .footer {
    margin-top: 120px;
    border-top: 1px solid #E5E5E5;
  }
  .footer > p {
    text-align: center;
    padding: 25px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #253030;
  }
</style>
