<template>
  <section class="footer-form" >
    <h3>Остались вопросы?</h3>
    <p>Заполните форму и мы с Вами свяжемся</p>
      <div class="form-wrapper-background">
        <img src="@/assets/img/form-footer-vector.svg" />
        <div class="footer-form-wrapper">
          <div class="footer-form-left">
            <img src="@/assets/img/microphone.svg" alt="Микрофон">
          </div>
          <div class="footer-form-right">
            <form  @submit.prevent="sendForm" class="form-footer">
              <div class="form-footer-wrapper">
                <p>Как Вас зовут?</p>
                <input v-model.trim="form.name" placeholder="Введите имя">
                <p v-if="errorName" class="error--text">{{errorName}}</p>
                <p>Выберите удобный способ связи</p>
                <v-radio-group
                  column
                  class="radio-group-wrapper"
                  v-model="form.social"
                >
                  <div class="form-group-radio">
                    <v-radio
                      label="WhatsApp"
                      color="#5FC2C2"
                      value="WhatsApp"/>
                    <v-radio
                      label="Telegram"
                      color="#5FC2C2"
                      value="telegram"/>
                  </div>
                </v-radio-group>
                <p v-if="errorSocial" class="error--text">{{errorSocial}}</p>
                <p>Введите номер телефона</p>
                <input  v-model.trim="form.number"  placeholder="Введите номер">
                <p v-if="errorNumber" class="error--text">{{errorNumber}}</p>
                <button type="submit">Отправить данные</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </section>
</template>

<script>
export default {
  name: 'footerForm',
  data: () => ({
    dialog: false,
    form: {
      name: '',
      social: '',
      number: '',
      type: 'Остались вопросы?'
    },
    errorName: '',
    errorSocial: '',
    errorNumber: ''
  }),
  methods: {
    sendForm () {
      if (!this.form.name.length > 0) {
        this.errorName = '* поле не должно быть пустым'
      } else if (Number(this.form.name)) {
        this.errorName = '* поле должно содержать только буквы'
      } else if (this.form.social === '') {
        this.errorSocial = '* выберите одно из значений'
      } else if (!this.form.number.length > 0) {
        this.errorNumber = '* поле не должно быть пустым'
      } else if (!Number(this.form.number)) {
        this.errorNumber = '* поле должно содержать цифры'
      } else {
        const dataForm = {
          name: this.form.name,
          social: this.form.social,
          number: this.form.number,
          type: this.form.type
        }
        console.log('dataForm', dataForm)
        this.$router.push('/thank')
      }
    }
  },
  computed: {
    name () {
      return this.form.name
    },
    validateName () {
      return this.form.name
    },
    social () {
      return this.form.social
    },
    number () {
      return this.form.number
    },
    validateNumber () {
      return this.form.number
    }
  },
  watch: {
    name (val) {
      if (val !== '') {
        this.errorName = ''
      } else {
        this.errorName = '* поле не должно быть пустым'
      }
    },
    validateName (val) {
      if (Number(val)) {
        this.errorName = '* поле должно содержать только буквы'
      } else {
        this.errorName = ''
      }
    },
    social (val) {
      if (val !== '') {
        this.errorSocial = ''
      } else {
        this.errorSocial = '* выберите одно из значений'
      }
    },
    number (val) {
      if (val !== '') {
        this.errorNumber = ''
      } else {
        this.errorNumber = '* поле не должно быть пустым'
      }
    },
    validateNumber (val) {
      if (Number(val)) {
        this.errorNumber = ''
      } else {
        this.errorNumber = '* поле должно содержать цифры'
      }
    }
  }
}
</script>

<style scoped>
.footer-form > p {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #253030;
  margin-bottom: 125px;
}
.footer-form > h3 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #253030;
  margin-bottom: 20px;
}
.footer-form-wrapper {
  padding: 0 10px;
  max-width: 1127px;
  min-width: 900px;
  margin: 0 auto;
  display: flex;
}
.form-wrapper-background {
  background-color: #5FC2C2;
  height: 344px;
  position: relative;
}
.form-wrapper-background > img {
  width: 424px;
  height: 424px;
  position: absolute;
  left: 21%;
  top: -10%;
}
.form-footer {
  background: #FFFFFF;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 25px 0;
  width: 450px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  top: -40px;
}
.footer-form-left > img {
  width: 549px;
  height: 526px;
  position: relative;
  top: -95px;
}
.form-footer-wrapper {
  margin: 0 auto;
  width: 300px;
}
.form-footer-wrapper > p {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #253030;
}
.form-footer-wrapper > input {
  width: 323px;
  margin-bottom: 15px;
  background: #FFFFFF;
  border: 1px solid rgba(95, 194, 194, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 9px 0 9px 30px;
}
.form-footer-wrapper > input:focus {
  outline: none;
}
.form-footer-wrapper > button {
  width: 323px;
  background: #363DF0;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 11px 0;
  cursor: pointer;
  color: white;
}
.form-group-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.error--text {
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .footer-form-wrapper {
    padding: 0 10px;
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    display: flex;
  }
  .footer-form-left > img {
    width: 500px;
    height: 526px;
    position: relative;
    top: -95px;
  }
  .form-wrapper-background > img  {
    width: 450px;
    height: 400px;
    position: absolute;
    left: 13%;
    top: -12%;
  }
  .form-wrapper-background  {
    background-color: #5FC2C2;
    height: 320px;
    position: relative;
  }
}
</style>
