<template>
  <header class="header">
    <div class="header-wrapper">
      <div class="header-avatar">
        <img @click.stop="redirect" src="@/assets/img/GG_logo.jpg">
        <p class="mb-0">Golden Goddess</p>
      </div>
      <div class="header-menu">
        <button @click.stop="toAbout">О компании</button>
        <button @click.stop="toTest">Пройти собеседование</button>
        <button @click.stop="toForm">Задать вопрос</button>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'header-main',
  props: ['form', 'test', 'about'],
  methods: {
    redirect () {
      this.$router.go(0)
    },
    toForm () {
      if (this.form) {
        this.form.scrollIntoView({ behavior: 'smooth' })
      } else {
        console.error('Element not found: ' + this.form)
      }
    },
    toTest () {
      if (this.test) {
        this.test.scrollIntoView({ behavior: 'smooth' })
      } else {
        console.error('Element not found: ' + this.test)
      }
    },
    toAbout () {
      if (this.about) {
        this.about.scrollIntoView({ behavior: 'smooth' })
      } else {
        console.error('Element not found: ' + this.about)
      }
    }
  }
}
</script>

<style>
  .header-wrapper {
    padding: 0 10px;
    max-width: 1127px;
    min-width: 900px;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-avatar {
    display: flex;
    align-items: center;
  }
  .header-avatar > p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .header-menu {
    display: flex;
  }
  .header-menu > button {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-right: 25px;
    cursor: pointer;
  }
  .header-menu > button:hover {
    color: #62C3C3;
  }
  .header-menu > button:last-child {
    margin-right: 0;
  }
  /*.header-menu > button:first-child {*/
  /*  color: #62C3C3;*/
  /*}*/
  .v-application p {
     margin: 0
  }
  .header-avatar-p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media screen and (max-width: 1200px) {
    .header-wrapper {
      max-width: 950px;
      min-width: 950px;
    }
  }
  @media screen and (max-width: 992px) {
    .header-wrapper {
      max-width: 720px;
      min-width: 720px;
    }
  }
  @media screen and (max-width: 750px) {
    .header-wrapper {
      max-width: 100%;
      min-width: 100%;
    }
    .header-menu {
     display: none;
    }
  }

</style>
