<template>
  <div class="text-left">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <button
          v-if="type === 'workingHome'"
          class="button-get-сonsultation"
          v-bind="attrs"
          v-on="on">
          Получить консультацию
        </button>
        <button
          v-else-if="type === 'createSchedule'"
          class="button-get-сonsultation mt-6"
          v-bind="attrs"
          v-on="on">
          Пройти собеседование
        </button>
      </template>

      <v-card>
        <v-card-text>
          <form @submit.prevent="sendForm" class="form-footer">
            <div class="form-footer-wrapper">
              <p>Как Вас зовут?</p>
              <input v-model.trim="form.name" placeholder="Введите имя">
              <p v-if="errorName" class="error--text">{{errorName}}</p>
              <p>Выберите удобный способ связи</p>
              <v-radio-group
                column
                class="radio-group-wrapper"
                v-model="form.social"
              >
                <div class="form-group-radio">
                  <v-radio
                    label="WhatsApp"
                    color="#5FC2C2"
                    value="WhatsApp"/>
                  <v-radio
                    label="Telegram"
                    color="#5FC2C2"
                    value="telegram"/>
                </div>
              </v-radio-group>
              <p v-if="errorSocial" class="error--text">{{errorSocial}}</p>
              <p>Введите номер телефона</p>
              <input v-model.trim="form.number" placeholder="Введите номер">
              <p v-if="errorNumber" class="error--text">{{errorNumber}}</p>
              <button type="submit">Отправить данные</button>
            </div>
          </form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
           Отмена
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['type'],
  name: 'templateForm',
  data: () => ({
    dialog: false,
    form: {
      name: '',
      social: '',
      number: '',
      typeForm: ''
    },
    errorName: '',
    errorSocial: '',
    errorNumber: ''
  }),
  methods: {
    sendForm () {
      if (!this.form.name.length > 0) {
        this.errorName = '* поле не должно быть пустым'
      } else if (Number(this.form.name)) {
        this.errorName = '* поле должно содержать только буквы'
      } else if (this.form.social === '') {
        this.errorSocial = '* выберите одно из значений'
      } else if (!this.form.number.length > 0) {
        this.errorNumber = '* поле не должно быть пустым'
      } else if (!Number(this.form.number)) {
        this.errorNumber = '* поле должно содержать цифры'
      } else {
        const dataForm = {
          name: this.form.name,
          social: this.form.social,
          number: this.form.number,
          type: this.form.typeForm
        }
        console.log('dataForm', dataForm)
        this.$router.push('/thank')
      }
    }
  },
  computed: {
    name () {
      return this.form.name
    },
    validateName () {
      return this.form.name
    },
    social () {
      return this.form.social
    },
    number () {
      return this.form.number
    },
    validateNumber () {
      return this.form.number
    }
  },
  watch: {
    name (val) {
      if (val !== '') {
        this.errorName = ''
      } else {
        this.errorName = '* поле не должно быть пустым'
      }
    },
    validateName (val) {
      if (Number(val)) {
        this.errorName = '* поле должно содержать только буквы'
      } else {
        this.errorName = ''
      }
    },
    social (val) {
      if (val !== '') {
        this.errorSocial = ''
      } else {
        this.errorSocial = '* выберите одно из значений'
      }
    },
    number (val) {
      if (val !== '') {
        this.errorNumber = ''
      } else {
        this.errorNumber = '* поле не должно быть пустым'
      }
    },
    validateNumber (val) {
      if (Number(val)) {
        this.errorNumber = ''
      } else {
        this.errorNumber = '* поле должно содержать цифры'
      }
    }
  }
}
</script>

<style scoped>
  .button-get-сonsultation {
    background: #363DF0;
    box-shadow: 0 0 15px rgba(54, 61, 240, 0.2);
    border-radius: 20px;
    color: white;
    padding: 9px 11px 9px 11px;
  }
  .form-footer-wrapper > p {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #253030;
  }
  .form-footer-wrapper > input {
    width: 323px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid rgba(95, 194, 194, 0.5);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 9px 0 9px 30px;
  }
  .form-footer-wrapper > input:focus {
    outline: none;
  }
  .form-footer-wrapper > button {
    width: 323px;
    color: white;
    background: #363DF0;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 8px 0;
    cursor: pointer;
  }
  .form-group-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-footer-wrapper {
    margin: 0 auto;
    width: 300px;
    padding-top: 30px;
  }
  .error--text {
    margin-bottom: 10px;
  }
  .header-interview {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-right: 25px;
    cursor: pointer;
  }
</style>
